@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Lato&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.img-frame {
  width: 482px;
  height: 438px;
  position: relative;
  top: -25px;
}
.house {
  position: absolute;
  width: 367px;
  height: 250px;
  left: -37px;
  top: 37px;
  border-radius: 7px;
  z-index: 1;
}
.rect {
  position: absolute;
  width: 293px;
  height: 205px;
  left: 88px;
  top: 125px;
  border-radius: 7px;
}

.bike {
  position: absolute;
  width: 270px;
  height: 195px;
  left: 211px;
  top: 209px;
  border-radius: 7px;
  z-index: 2;
}
.frame-img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
html,
body {
  height: 100%;
}

#root {
  height: 100vh;
}

*::-webkit-scrollbar{
  display: none;
}